class {{classname}}
{
    {{#vars}}
        {{#vendorExtensions.x-php-psalm-type}}
        /**
         * @var {{{vendorExtensions.x-php-psalm-type}}}
         */
        {{/vendorExtensions.x-php-psalm-type}} 
        public readonly {{#isNullable}}?{{/isNullable}}{{dataType}} ${{name}};
    {{/vars}}
}
